// SCSS is really cool and for this project it's extremely unnecessary but that didn't stop me.
.onek99-marquee,
.wp-block-onek99ify-marquee {
	overflow: hidden;
	> * {
		animation: onek99_marquee 10s linear infinite;
	}

}

@keyframes onek99_marquee {
	0%   { transform: translate( 100%, 0 ); }
	100% { transform: translate( -100%, 0 ); }
}



.onek99-contact {
	text-align: center;
	display: block;
	.onek99-contact-at {
		animation: onek99_rotate 5s infinite linear;
		display: inline-block;
		height: 72px;
		font-size: 72px;
		font-weight: 700;
		line-height: 1;
		margin-bottom: 10px;
		position: relative;
		text-shadow: 1px 1px #000,
					 2px 2px #000,
					 3px 3px #000,
					 4px 4px #000,
					 5px 5px #000,
					 6px 6px #000,
					 7px 7px #000,
					 8px 8px #000;
		transform-style: preserve-3d;
		transform: rotateX(0) rotateY(0) rotateZ(0);
		width: 72px;
		.symbol {
			backface-visibility: visible;
			left: 50%;
			margin-left: -36px;
			margin-top: -36px;
			position: absolute;
			top: 50%;
		}
	}
	// .onek99-contact-text {}
}

@keyframes onek99_rotate {
  0%   { transform: rotateY( 0 ); }
  100% { transform: rotateY( 360deg ); }
}
